.navbar.transparent.navbar-inverse .navbar-inner 
{
    background: rgba(0,0,0,0.4);
}

body, html 
{
    height: 100%;
    margin: 0;
    padding: 0%;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

#name 
{
    font-family: 'Mali', cursive;
    font-size: 5em;
    text-align: center;
    margin-right: 60%;
    top: 30%;
    position: relative;
}

.nav-main
{
    padding-top: 10px;
    margin-right: 3%;
    margin-top: 0px;
}

.nav-main ul .left
{
    float: left;
}

.nav-main ul .right
{
    float: right;
}

.nav-main ul li
{
    display: inline-block;
    font-size: 1.1em;   
    text-transform: uppercase;
    list-style: none;
    padding-left: 20px;
}

.nav-item-underline
{
    width: 0px;
    border-color: rgba(0, 0, 0, 0.8);
    height: 5px;
    transition: width 0.1s ease-in;
    margin: auto;
}

/* On hover of a changes the width of underline */
.nav-main ul li a:hover + .nav-item-underline
{
    width: 100%;
}

.nav-main ul li a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    display: inline;
}

#content
{
    background-image: url('./Images/Background.jpg');

    height: 100%;
    margin: 0;  
    position:  relative ;
    opacity: 0.65;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}