body, html 
{
    height: 100%;
    margin: 0;
    padding: 0%;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    background-color: white;
}

#name 
{
    font-family: 'Mali', cursive;
    font-size: 5em;
    margin-left: 7%;
    color: rgba(0, 0, 0, 0.9);
    /* position: absolute  ; */
    margin-top: 10%;
}


#text
{
    width: 25%;
    margin-top: 30px;
    text-align: left;
    margin-left: 7%;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.1em;
}

#text span
{
    display: block;
}

.nav-main
{
    padding-top: 1.75%;
    position: fixed;
}

.nav-main ul .left
{
    float: left;
}

.nav-main ul .right
{
    float: right;
}

.nav-main ul li
{
    display: inline-block;
    font-size: 1.5em;   
    text-transform: uppercase;
    list-style: none;
    padding-left: 20px;
}

.nav-item-underline
{
    width: 0px;
    border-color: rgba(0, 0, 0, 0.8);
    height: 5px;
    transition: width 0.1s ease-in;
    margin: auto;
}

/* On hover of a changes the width of underline */
.nav-main ul li a:hover + .nav-item-underline
{
    width: 100%;
}

.nav-main ul
{
    text-align: center;
}

.nav-main ul li a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

#content
{
    background-image: url('./Images/Background.jpg');
    overflow: hidden;
    height: 100%;
    margin: 0;
    position: sticky;
    opacity: 0.70;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -- */
.site-footer
{
    background-color:rgba(0, 0, 0, 0.1);
    font-size:15px;
    color:#737373;
    width: 100%;
    bottom: 0;
    position: absolute;
}


.site-footer .social-icons
{
    text-align:right;
    right: 10px;
    margin: 10px 0px;
    padding-left:0;
    list-style:none;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.copyright-text
{
    text-align: center;
    display: inline-block;
    margin: 15px 0;
    left: 10px;
    position: relative;
}


.social-icons li
{
    display:inline-block;
}

.social-icons a
{
    width:40px;
    height:40px;
    margin-left:6px;
    margin-right:8px;
    border-radius:100%;
    background-color:#777;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    text-align:center;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}

.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}

@media (max-width:767px)
{
    #name
    {
        font-size: 3.5em;
        width: 80%; 
        text-align: center
    }

    #text
    {
        float: left;
        width: 80%;
        text-align: center
    }
    
    .nav-main li:first-child
    {
        float: left;
    }

    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }

    .site-footer .social-icons a
    {
        margin-left: 1px;
    }
}